.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.rounded{
    border-radius: 8px;
}
.invert{
    filter: invert(1);
}

::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 0px; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
  }
  